{% extends "layout.html" %} {% block content %}
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <p>Disclaimer: Each snapshot is inaccurate up to 5 mins. Inventory has not been added yet.</p>
        <div class="text-center"> {% if error %}
            <p class=error><strong>Error:</strong> {{ error }} {% endif %}
                <form action="{{ url_for('get_snapshot') }}" method=post class=take-snapshot>
                    <div class="form-group">
                        <label for="apiKey" class="control-label">API Key</label>
                        <input type="text" class="form-control" name="apiKey" id="apiKey" {% if 'key' in request.cookies %} placeholder={{request.cookies[ 'key']}} {% endif %}> </div>
                    <button type="submit" class="btn btn-default">Take Snapshot</button>
                </form>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->{% endblock %}